* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  font-family: Arial, sans-serif;
}

body h1 {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

h2 {
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 10px;
}

button {
  background-color: blue;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  cursor: pointer;
}

textarea,
input {
  padding: 10px;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  resize: none;
  width: 100%;
}

textarea::placeholder,
input::placeholder {
  text-transform: capitalize;
}

input[type="file"] {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

label {
  color: #000;
  text-transform: capitalize;
  font-size: 17px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  gap: 20px;
}

/* Personal Information */
.personal-info {
  width: 100%;
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
}

.personal-info-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

.personal-info-container input,
.personal-info-container textarea {
  height: 40px;
  width: 100%;
}

/* Professional Education */
.professional-education,
.professional-experience {
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
}

.professional-education .education-container,
.professional-experience .experience-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;

}

.professional-education .field input,
.professional-experience .field input {
  margin-top: 10px;
  width: calc(1000px / 4) - 10;
}

.professional-education h2,
.professional-experience h2 {
  margin: 10px 0;
}

/* Skills Section */
.skills {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
}

.skills-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.skills-container p {
  width: 120px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* soft skills */
.soft_skills {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
}

.soft_skills-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
}

.soft_skills-container p {
  width: 120px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Languages Section */
.languages {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
}

.languages-container .lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.languages-container .lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  width: 150px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 10px;
  text-align: center;
}

.languages_levels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.languages_levels input {
  width: 70%;
}

.languages_levels select {
  width: 30%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Hobbies Section */
.hobbies {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
}

#new-skill,
#new-language,
#new-hobby {
  width: 100%;
}

.hobbies-container {
  /* display: flex;   */
  gap: 10px;
  flex-wrap: wrap;
}

.hobbies-container p {
  width: 120px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* CV Styling */
.hobbies_languages {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.all_skills {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

/* *********************************************************************************** */
/* cv styling */
.cv {
  margin: 20px;
  background-color: #fff;
  width: 800px;
  height: 1000px;
  position: relative;
  page-break-inside: avoid;
  display: none;
  color: #000;
}

.cv .floater {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 80px;
  background-color: rgb(38, 38, 207);
  color: #fff;
}

.cv .floater img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.cv .floater .name_job {
  text-transform: capitalize;
  text-align: center;
}

.cv .floater .name_job h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

.cv .floater .name_job h2 {
  font-size: 30px;
}

.cv .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 40px;
}

.cv .left {
  padding-top: 250px;
  background-color: #000;
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}

.cv .left .about_me h2,
.cv .left .cv_languages h2,
.cv .left .cv_soft_skills h2,
.cv .left .cv_hobbies h2 {
  text-transform: capitalize;
  width: 90%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 20px;
}

.cv .left .about_me {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  padding: 10px;
}

.cv .left .about_me .info_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}



.cv .left .about_me,
.cv .left .cv_languages,
.cv .left .cv_soft_skills,
.cv .left .cv_hobbies {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.cv .right {
  padding-top: 250px;
  width: 65%;
  height: 100%;
  background-color: #fefefe;
}

.cv .right .cv_education h2,
.cv .right .cv_experience h2,
.cv .right .cv_skills h2 {
  text-transform: capitalize;
  width: 90%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 20px;
}

.cv .right .cv_education,
.cv .right .cv_experience,
.cv .right .cv_skills {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.right .cv_skills_container,
.right .cv_education_container,
.right .cv_experience_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.right .cv_skills_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.right .cv_skills_container p {
  margin-bottom: 20px;
}

.left .cv_languages,
.left .cv_soft_skills,
.left .cv_hobbies {
  display: flex;
  flex-direction: column;
}

.cv_soft_skills_container,
.cv_hobbies_container,
.cv_languages_container {
  width: 100%;
}

.cv_soft_skills_container span,
.cv_hobbies_container span,
.cv_languages_container .cv_lang {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.buttons {
  width: 300px;
  display: none;
  justify-content: space-between;
}

#reset,
#downloadPDF {
  display: flex;
  margin-bottom: 10px;
}

.cv .email-con,
.cv .linkdin-con,
.cv .address-con,
.cv .age-con,
.cv .phone-con {
  display: flex;
  gap: 5px;
  font-size: 17px;
}

.cv .email-con p:first-child,
.cv .linkdin-con p:first-child,
.cv .address-con p:first-child,
.cv .age-con p:first-child,
.cv .phone-con p:first-child {
  font-weight: bold;
  text-transform: capitalize;
}